body {
  background-color: red;
}

@media all and (max-width: 990px) {
  #main {
    min-width: inherit;
  }
  
  #billboard {
    width: 100%;
  }
  #billboard #hero hgroup {
    width: 38.77551;
  }
  
  #billboard #hero .hero-image {
    max-width: 100%;
    height: auto;
  }
  
}