// Main
body {
  min-width: 0;
  padding: 10px;
  width: auto;
}

#Box {
  width: 100%;
}

// Header
#Banner {
  margin: 0;
  text-align: center;
  width: 100%;
  img {
    height: auto;
    width: 100%;
  }
}

// Sidebar
#Sidebar {
  position: inherit;
  text-align: center;
  width: 100%;
  p {
    margin: 0 0 20px 0;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      line-height: 2em;
      margin-right: 15px;
    }
    a { font-size: 2em; }
  }
  #SidebarTheDeck {
    display: none;
  }
}

// Content
#Main {
  float: left;
  margin-left: 0;
  width: 100%;
}