body {
/*   background-color: green; */
}

.slide {
  background-size: 100%;
  background-position: 50% 0 !important;
  padding-top: 60%; // to maintain aspect ratio
  
}

.mail-slide-copy {
  width: 100%;
  padding: 0 5%;
}

.tabs li {
  width: 30% !important;
  margin-right: 2% !important;
  margin-bottom: 4em !important;
  line-height: 1.2em;
  
  &:nth-child(4) {
    margin-left: 18% !important;
  }
}