* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
body {
  background-color: #ddd;
}
*/

.carousel-container, #carousel {
  height: auto;
  width: 100%;
}

.tabs {
  background-image: none;
}
.tabs li {
  float: left !important;
  clear: none !important;
  width: 18% !important;
  margin: 0 1% !important;
/*   overflow: hidden; */
  background-size: 105%;
  height: auto;
  
  a {
    height:0;
    padding-top: 60%;
    margin-top:0;
    display: block;
  }
}

.slide {
/*   position: static; */
  background-size: 50%;
  background-position: 0 50% !important;
  position: static;
  float:left;
  clear:left;
}

.mail-slide-copy {
  width: 50%;
  padding-right: 5%;
}

#tab-one {
  background-position: 50% 25%;
}
#tab-two {
  background-position: 50% 50%;
}
#tab-three {
  background-position: 50% 76%;
}
#tab-four {
  background-position: 50% 100%;
}
#tab-five {
  background-position: 50% 25%;
}